/**************************************
 ** - 01 - Default
 **************************************/
 @font-face {
    font-family: 'Rajdhani';
    src: url(/public/fonts/Rajdhani-Medium.ttf);
  }
 
  @font-face {
    font-family: 'SpaceGrotesk-bold';
    src: url(/public/fonts/SpaceGrotesk-Bold.ttf);
  }
 
  @font-face {
    font-family: 'SpaceGrotestk-Regular';
    src: url(/public/fonts/SpaceGrotesk-Regular.ttf);
  }
 
  :root {
    --ct-yellow-light: #ffff00;
    --ct-yellow-dark: #f8f184;
    --ct-blue: #19587D;   
    --ct-red-light: #B11313;
    --ct-dark: #0d0e09;
    --ct-gray-dark: #19587d40;
    --ct-gray-light: #eddebf40;
    --ct-red-dark: #890008;
    --ct-white-dark: #c4c4c4;
    --ct-dark-brown: #000000;
    --ct-white-light: #ffffff;
  }
 
  * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
  }
  
  body {
   background-color: var(--ct-dark-brown);
   color: var(--ct-white-light);
   border: 1px solid var(--gradient-white);
   margin: 10px 30px 30px 10px;
   font-family: 'Rajdhani';
 }
 
 .container {
   width: 90%;
   margin: 0 auto;
   border-left: 1px solid var(--ct-white-dark) ;
   border-right: 1px solid var(--ct-white-dark) ;
 }
 
  img  {
    max-width: 100%;
    height: auto;
  }
 
  h2, h3, h4, h5, .h2 {
     font-weight: 700;
     line-height: 1.4;
     font-family: 'Space_Grotesk_Bold';
   padding: 40px;
   font-size: 32px;
 }
 
 .content {
   width: 45%;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding-top: 150px;
 }
 
 p {
     font-size: 22px;
     line-height: 1.5;
     margin-bottom: 45px; 
     letter-spacing: 0.3px;
     font-family: 'Space_Grotesk_regular';
 }
 
 .default-btn {
     display: inline-block;
   text-decoration: none;
   position: relative;
   overflow: hidden;
     z-index: 1;
     text-align: center;
   font-family: 'Rajdhani';
     color: var(--ct-white-light);
   background: linear-gradient(70deg, var(--ct-white-dark) 20%, var(--ct-red-dark) 100%);
   -webkit-transition: 0.4s;
     transition: 0.4s;	
     font-size: 22px;
     padding: 14px 40px;
     box-shadow: 0 7px 25px var(--ct-dark);
   margin: 18px;
 }
 
 .default-btn span {
     position: absolute;
     display: block;
   font-family: 'Rajdhani';
     background: linear-gradient(var(--ct-white-dark) 60%, var(--ct-red-dark) 100%);
     -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
     transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     z-index: -1;
 }
 
 .default-btn:hover, .default-btn:focus {
     color: var(--ct-white-light);
 }
 
 .default-btn:hover span, .default-btn:focus span {
     width: 180%;
     height: 100px;
 }
 
 ul  {
    padding: 0;
    margin: 0;
    list-style: none;
  }
 
  /**************************************
  ** - 02 - Navbar + Scroll-bar
  **************************************/
  .batman-nav {
    padding-top: 15px;
    padding-bottom: 50px;
    padding-right: 0;
	  padding-left: 0;
 }
 
 .batman-nav .navbar {	
    padding: 10px 10px;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
 }
 
 .batman-nav .navbar .navbar-nav .nav-item{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    margin-left: 30px;
 }

 .batman-nav .navbar .navbar-nav .nav-item > a {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: auto;
  }

  .batman-nav .navbar .navbar-nav .nav-item > a.active {
    text-decoration: underline 2px;
  }
 
  .scroll-bar { 
   flex-direction: column;
   align-items: center;
   position: fixed;  
   right: 2.6%;
   top: 200px;
   z-index: 999;
  }
 
  .social-icon {
   margin-top: 20px;
   margin-right: 5px;
   text-align: center;
   z-index: 1;
  }

  #area{
    background-image: url('../../public//assets/bg/bg_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}
 
 /**************************************
  ** - 03 - Home + Scroll button
  **************************************/
  #batman {
     z-index: 1;
     height: 800px;
   width: auto;
   text-align: center;
 }
 
 .batman-home .container {
   border-top: 1px solid var(--ct-white-dark);
 }
 
 .scroll-btn {
   margin-top: 220px;
   display: flex;
   justify-content: center;
 }
  /**************************************
  ** - 04 - Batman Cinéma
  **************************************/
 .cinema-title {
   padding: 75px;
   font-family: 'Space_Grotesk_Bold';
   font-size: 26px;
 }
 
 .cinema-content {
   width: 83.5%;
   margin-top: -100px;
   padding: 75px;
   text-align: justify;
 }
 
 .batman-personnage {
   display: flex;
   justify-content: space-between;
   padding: 75px;
   margin-top: -100px;
 }
 
 .bio-info {
   margin-top: 20px; 
   text-align: center;
 }
 
 .bio-info h3 {
   font-family: 'Space_Grotesk_Bold';
   font-size: 20px;
 } 
 
 .bio-info span{
   font-family: 'Space_Grotesk_regular';
 }
 
 .batman-personnage div:hover{
   transform: scale(1.1);
   transition: transform 0.9s ease-in-out;
   transform-origin: center;
 }
 
 /**************************************
  ** - 05 - Nemesis Section
  **************************************/
  .nemesis-title {
   padding: 75px;
   font-family: 'Space_Grotesk_Bold';
   font-size: 26px;
 }
 
 .nemesis-title >img {
   display: flex;
   flex-direction: column;
   display: block;
   margin-bottom: -55px;
   margin-top: -75px;
   margin-left: 90px;
   width: 150px;
 }
 
 .nemesis-content {
   width: 83.5%;
   margin-top: -100px;
   padding: 75px;
   text-align: justify;
 }
 
 .ennemis-personnage {
   display: flex;
   justify-content: space-between;
   padding: 75px;
   margin-top: -100px;
 }
 
 .bio-info {
   margin-top: 20px; 
   text-align: center;
 }
 
 .bio-info h3 {
   font-family: 'Space_Grotesk_Bold';
   font-size: 20px;
 } 
 
 .bio-info span{
   font-family: 'Space_Grotesk_regular';
 }
 
 .ennemis-personnage div:hover{
   transform: scale(1.1);
   transition: transform 0.9s ease-in-out;
   transform-origin: center;
 }
 
  /**************************************
  ** - 06 - Allies Section
  **************************************/
  .allies-title {
   padding: 75px;
   font-family: 'Space_Grotesk_Bold';
   font-size: 26px;
 }
 
 .allies-title >img {
   float: right ;
   position: relative;
   margin-right: -178px;
   margin-top: -245px;
   width: 40%;
   z-index: 1;
 }
 
 .allies-content {
   width: 85.5%;
   margin-top: -140px;
   padding: 75px;
   text-align: justify;
 }
 
 .allies-personnage {
   display: flex;
   justify-content: space-between;
   padding: 75px;
   margin-top: -100px;
 }
 
 .bio-info {
   margin-top: 20px; 
   text-align: center;
 }
 
 .bio-info h3 {
   font-family: 'Space_Grotesk_Bold';
   font-size: 15px;
 } 
 
 .bio-info span{
   font-family: 'Space_Grotesk_regular';
 }
 
 .allies-personnage div:hover{
   transform: scale(1.1);
   transition: transform 0.9s ease-in-out;
   transform-origin: center;
 }
 
  /**************************************
  ** - 07 - Justice Section
  **************************************/
  .justice-title {
   padding: 75px;
   font-family: 'Space_Grotesk_Bold';
   font-size: 26px;
 }
 
 .justice-content {
   width: 80.5%;
   margin-top: -140px;
   padding: 75px;
   text-align: justify;
 }
 
 .league-image >img {
   margin-top: -50px;
 }
  /**************************************
  ** - 08 - Multimedia Section
  **************************************/
  .multimedia-title {
   padding: 75px;
   margin-top: -60px; 
   font-family: 'Space_Grotesk_Bold';
   font-size: 26px;
 }
 
 .multimedia-content {
   margin-top: -150px;
   background-color: var(--ct-dark-brown);  
 }
 
 .multimedia-card {
   width: 60%;
   margin: 40px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .card-icon{
   width: 100% !important;
   height: auto;
 }
 
 .card-content {
   padding: 20px;
   background: linear-gradient(160deg, var(--ct-gray-light), var(--ct-gray-dark) 60%);
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
 }
 
 .card-content > h4 {
     font-family: 'Space_Grotesk_Regular';
     font-size: 15px;
     text-transform: uppercase; 
     padding: 0;
 }
 
 .card-content > h5 {
   font-family: 'Space_Grotesk_Regular';
   font-size: 25px;
   margin-left: 0;
   padding: 0;
 }
 
 .card-content >span {
   font-family: 'Rajdhani';
   font-size: 22px;
   padding-top: 5px;
 }
 
 .card-content span > small {
 color: var(--ct-yellow-light);
 font-family: 'Space_Grotesk_Bold';  
 }
 
 .card-content p {
   font-family: 'Space_Grotesk_Regular';
   font-size: 14px;
   padding-top: 5px;
   line-height: 1.3;
   margin-bottom: 0;
 }
 
 .icon-button-prev {
   position: relative;
   top: 165px;
   cursor: pointer;
   left: 10%;
   width: 20%;
   height: auto;
 }
 
 .icon-button-next {
   position: relative;
   left: 86%;
   bottom: 200px;
   cursor: pointer;
 }
 
 .multimedia-bande-annonce{
   width: 90%;
   display: flex;
   flex-direction: column;
   margin-left: 55px;
   padding-bottom: 160px;
 }
 
 /**************************************
  ** - 09 - Contact Section
  **************************************/
  #contact {
   padding: 65px auto;
   background: linear-gradient(120deg, var(--ct-gray-light), var(--ct-gray-dark) 80%);
 }
 
 form {
   padding-bottom: 35px;
 }
 
 #contact .contact-content {
   width: 60%;
   margin: auto;
 }
 
 #contact .contact-title > h2 {
   font-family: "Space_Grotesk_Bold";
   text-align: center;
   font-size: 30px;
   margin-bottom: 30px;
   letter-spacing: 2px;
   padding-top: 45px;
 }
 
 #contact .contact-content .input {
   font-family: "Space_Grotesk_Regular";
   font-size: 22px;
   display: block;
   margin-top: 50px;
 }
 
 #contact .form-check-label{
   width: 70%;
   font-family: "Space_Grotesk_Regular";
   font-size: 18px;
   padding-top: 40px;
 }
 
 .boutton-group, .news{
     font-family: "Space_Grotesk_Regular";
     font-size: 18px;
     padding-top: 40px;
 }
  
 .news {
   padding-bottom: 40px;
 }
 
 #contact .contact-content .boutton-group {
   padding: 10px;
   display: flex;
   justify-content: space-around;
 }
 
 #contact .select, #contact .news {
     margin-top: 60px;
     border-bottom: 1px solid white;
 }
 
 #contact .contact-content .select, #contact .contact-content .news {
   margin-top: 15px;
   border-bottom: 1px solid var(--color-white);
 }
 
 #contact .contact-content input[type=email], #contact .contact-content textarea {
     display: block;
     width: 100%;
     background-color: transparent;
     border-top: none;
     border-left: none;
     border-right: none;
     border-bottom: 1px solid var(--ct-white-light);
     padding: 10px 0;
     margin-top: 20px;
     outline: none;
     color: var(--ct-white-light);
 }
 
 #contact .contact-content .select #newsletter {
   width: 100%;
   background: transparent;
   border: none;
   color: var(--color-white);
   font-size: 16px;
   font-weight: 100;
   margin-top: 15px;
   font-family: "Space_Grotesk_Regular";
 }
 
 #contact .select #newsletter select {
   background: blue;
 }
 
 #contact .contact-content .boutton-group >label {
   width: 150px;
   border: 2px solid;
   -o-border-image: linear-gradient(45deg, var(--ct-gray-light), var(--ct-gray-dark)) 1;
   border-image: linear-gradient(45deg, var(--ct-gray-light), var(--ct-gray-dark)) 1;
   font-size: 20px;
   padding: 10px;
   margin-top: 15px;
   text-align: center;
   cursor: pointer;
 }
 
 #contact .contact-content .boutton-group >label:hover {
   background-color: var(--ct-blue);
 }
 
 #contact .contact-content input[type=radio] {
   opacity: 0;
   position: absolute;
   width: 0;
   height: 0;
 }
 
 #contact .contact-content [type=submit] {
   margin: 35px auto;
   display: block;
   width: 200px;
   border: none;
 }
 
 #contact .contact-content ::-moz-placeholder {
   color: var(--ct-white-dark);
   font-family: "Rajdhani";
   font-size: 18px;
 }
 
 #contact .contact-content :-ms-input-placeholder {
   color: var(--ct-white-dark);
   font-size: 18px;
 }
 
 #contact .contact-content ::placeholder {
   color: var(--ct-white-dark);
   font-size: 18px;
 }
 
 /**************************************
  ** - 10 - footer
  **************************************/
  #citation .single-footer-widget {
   padding: 90px;
 }
 
 .citation-content {
   width: 50%;
   text-align: center;
   margin: 30px auto;
   margin-top: 0;
 }
 
 .text{
   font-family: "Space_Grotesk_Regular";
   font-size: 6px;
 }
 
 .auteur{
   padding: 15px;
   color: var(--ct-white-dark);
   font-family: "Space_Grotesk_Regular";
   font-size: 2px;
   margin-top: -20px;
 }
 
 .auteur p {
 margin-top: -10px;
 margin-bottom: 5px;
 }
 
 .icon-separation{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
  .circle {
     display: block;
     border: 2px solid var(--ct-blue);
     border-radius: 50%;
     height: 10px;
     width: 10px;
     margin: 3px;
 }
 
 .circle-plein {
     display: block;
     background: var(--ct-blue);
     border-radius: 50%;
     height: 10px;
     width: 10px;
     margin: 3px;
 }
 
 .icon-guillemets-fermant {
   float: right;
 }
 
 .footer-logo {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
 }
 
 .footer_text{
   font-family: "Space_Grotesk_Regular";
   font-size: 12px;
   padding-top: 200px;
   text-align: center;
   font-size: 12px;
   margin-bottom: 20px;
 }
 
 .single-footer-widget p small {
   display: flex;
   flex-direction: column;
   font-size: 10px;
 }
 
 .footer-logo >img {
   margin-bottom: 42.5px;
 }